body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(0deg, #444cf7, #444cf7 1px, #e5e5f7 1px, #e5e5f7);
}
.header{
    box-sizing: border-box;
    padding: 50px;
    margin: 0;
}
.screen{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(131.83deg, #FFFAFA 0%,     #FFF7F7 99.21%);
    width: 800px;
    text-align: center;
    height: 300px;
    border-radius: 16px;
    position: relative;
}
.screen::before{
    position: absolute;
    content: "";
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background-image: linear-gradient(312.25deg, #FFC4BC 0%,     rgba(255, 255, 255, 0) 66.19%);
    z-index: -1;
    border-radius: 18px;
}
.inner{
    background-color: #fff;
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    box-shadow: 0 40px 80px #FBE4E0;
    border-radius: 14px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    align-items: center;
}
